In [61]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv("D:\\Machine Learning\\Stud_part1.csv")
df.head()

   regnum  name  attendance  theorymarks city studyhours cgpa
0     100  ravi          80           85  blr          3    4
1     101  manu          50           60  chn          3    9
2     102  raja          32           50  hyd          8    7
3     103  manu          85           80  mum          3    6
4     104  arun          86           70  del          1    7

In [5]:
df1=pd.read_csv("D:\\Machine Learning\\Stud_part2.csv")
df1.head()

   regnum city studyhours cgpa
0     100  blr          3    4
1     101  chn          3    9
2     102  hyd          8    7
3     103  mum          3    6
4     104  del          1    7

In [12]:
stud = pd.merge(df, df1, how = 'inner', on = 'regnum')
print(stud)

    regnum      name  attendance  theorymarks  city_x studyhours_x cgpa_x  \
0      100      ravi          80           85     blr            3      4
1      101      manu          50           60     chn            3      9
2      102      raja          32           50     hyd            8      7
3      103      manu          85           80     mum            3      6
4      104      arun          86           70     del            1      7
5      105    mahesh          53           48   noida            4      8
6      106    rajesh          19           69    pune            7      4
7      107    mahesh          14           68     blr            4      8
8      108    rakesh          18           78   noida            3      6
9      109     manju          88           57  jaipur            4      8
10     110      raju          80           80     blr            4      5
11     111      guru          93           80     del            7      9
12     112     pavan          40           80    pune            1      7
13     113    girish          84           83     blr            6      7
14     114     sunil          48           83    pune            6      9
15     115    yogesh          11           51     del            7      4
16     116     naman          88           62     mum            6      5
17     117   brijesh          25           54   noida            5    two
18     118     umesh          92           70    pune            3      4
19     119   sameera          46           41     blr            1      5
20     120  ravindra          75           40     chn            7      6
21     121     vinit          25           50     hyd            4      9
22     122     kamal          58           41     mum            1      8
23     123     bunty          74           50     del            3      6
24     124    naveen          77           75   noida            6      7
25     125     vikas          16           44    pune            6      7
26     126     suman          29           71     blr            3      4
27     127     rajan          89           82   noida            8      6
28     128     ajith          58           72  jaipur            3      7
29     129     amith          17           82     blr            2      4
30     130     akash          58           75     del         1500      8
31     131      anuj          99           64    pune            4      8
32     132   karthik          96           83     blr            6      6
33     133    praful          75           57    pune            8      4
34     134   chandru          76           51     del            1    800
35     135   pradeep          74           84     mum            7      5
36     136    mukesh          56           65   noida            2      5
37     137    ganesh          50           76    pune            8      9
38     138   gurudut          99           53    pune            2      5
39     139    kushal          41           59     blr            5      6
40     140     madhu         100           48   noida          one      9
41     141   narayan          36           80  jaipur            5      8
42     142     bhanu          55           84     blr            1      9
43     143     kiran          18           58     del            1      4
44     144     mohan          52           65    pune            7      6
45     145    nagesh          41           41     blr            3      9
46     146   chaitra          88           48    pune            2      8
47     147  sreedhar          30           54     del            5      9
48     148     jagan          99           81     mum         data      9
49     149    nandan          70           65   noida            4      8
50     150   chinmay          65           42    pune            4      9
51     151    naresh         100           79     blr            2      7
52     152     vidya          65           58     blr            4   data

    city_y studyhours_y cgpa_y
0      blr            3      4
1      chn            3      9
2      hyd            8      7
3      mum            3      6
4      del            1      7
5    noida            4      8
6     pune            7      4
7      blr            4      8
8    noida            3      6
9   jaipur            4      8
10     blr            4      5
11     del            7      9
12    pune            1      7
13     blr            6      7
14    pune            6      9
15     del            7      4
16     mum            6      5
17   noida            5    two
18    pune            3      4
19     blr            1      5
20     chn            7      6
21     hyd            4      9
22     mum            1      8
23     del            3      6
24   noida            6      7
25    pune            6      7
26     blr            3      4
27   noida            8      6
28  jaipur            3      7
29     blr            2      4
30     del         1500      8
31    pune            4      8
32     blr            6      6
33    pune            8      4
34     del            1    800
35     mum            7      5
36   noida            2      5
37    pune            8      9
38    pune            2      5
39     blr            5      6
40   noida          one      9
41  jaipur            5      8
42     blr            1      9
43     del            1      4
44    pune            7      6
45     blr            3      9
46    pune            2      8
47     del            5      9
48     mum         data      9
49   noida            4      8
50    pune            4      9
51     blr            2      7
52     blr            4   data

In [13]:
stud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   regnum        53 non-null     int64
 1   name          53 non-null     object
 2   attendance    53 non-null     int64
 3   theorymarks   53 non-null     int64
 4   city_x        53 non-null     object
 5   studyhours_x  53 non-null     object
 6   cgpa_x        53 non-null     object
 7   city_y        53 non-null     object
 8   studyhours_y  53 non-null     object
 9   cgpa_y        53 non-null     object
dtypes: int64(3), object(7)
memory usage: 4.3+ KB

In [14]:
stud.replace("data", np.nan,inplace=True)
stud.replace("one", np.nan,inplace=True)
stud.replace("two", np.nan,inplace=True)

In [15]:
stud

,regnum,name,attendance,theorymarks,city_x,studyhours_x,cgpa_x,city_y,studyhours_y,cgpa_y
0,100,ravi,80,85,blr,3,4,blr,3,4
1,101,manu,50,60,chn,3,9,chn,3,9
2,102,raja,32,50,hyd,8,7,hyd,8,7
3,103,manu,85,80,mum,3,6,mum,3,6
4,104,arun,86,70,del,1,7,del,1,7
5,105,mahesh,53,48,noida,4,8,noida,4,8
6,106,rajesh,19,69,pune,7,4,pune,7,4
7,107,mahesh,14,68,blr,4,8,blr,4,8
8,108,rakesh,18,78,noida,3,6,noida,3,6
9,109,manju,88,57,jaipur,4,8,jaipur,4,8
10,110,raju,80,80,blr,4,5,blr,4,5
11,111,guru,93,80,del,7,9,del,7,9
12,112,pavan,40,80,pune,1,7,pune,1,7
13,113,girish,84,83,blr,6,7,blr,6,7
14,114,sunil,48,83,pune,6,9,pune,6,9
15,115,yogesh,11,51,del,7,4,del,7,4
16,116,naman,88,62,mum,6,5,mum,6,5
17,117,brijesh,25,54,noida,5,NaN,noida,5,NaN
18,118,umesh,92,70,pune,3,4,pune,3,4
19,119,sameera,46,41,blr,1,5,blr,1,5
20,120,ravindra,75,40,chn,7,6,chn,7,6
21,121,vinit,25,50,hyd,4,9,hyd,4,9
22,122,kamal,58,41,mum,1,8,mum,1,8
23,123,bunty,74,50,del,3,6,del,3,6
24,124,naveen,77,75,noida,6,7,noida,6,7
25,125,vikas,16,44,pune,6,7,pune,6,7
26,126,suman,29,71,blr,3,4,blr,3,4
27,127,rajan,89,82,noida,8,6,noida,8,6
28,128,ajith,58,72,jaipur,3,7,jaipur,3,7
29,129,amith,17,82,blr,2,4,blr,2,4
30,130,akash,58,75,del,1500,8,del,1500,8
31,131,anuj,99,64,pune,4,8,pune,4,8
32,132,karthik,96,83,blr,6,6,blr,6,6
33,133,praful,75,57,pune,8,4,pune,8,4
34,134,chandru,76,51,del,1,800,del,1,800
35,135,pradeep,74,84,mum,7,5,mum,7,5
36,136,mukesh,56,65,noida,2,5,noida,2,5
37,137,ganesh,50,76,pune,8,9,pune,8,9
38,138,gurudut,99,53,pune,2,5,pune,2,5
39,139,kushal,41,59,blr,5,6,blr,5,6
40,140,madhu,100,48,noida,NaN,9,noida,NaN,9
41,141,narayan,36,80,jaipur,5,8,jaipur,5,8
42,142,bhanu,55,84,blr,1,9,blr,1,9
43,143,kiran,18,58,del,1,4,del,1,4
44,144,mohan,52,65,pune,7,6,pune,7,6
45,145,nagesh,41,41,blr,3,9,blr,3,9
46,146,chaitra,88,48,pune,2,8,pune,2,8
47,147,sreedhar,30,54,del,5,9,del,5,9
48,148,jagan,99,81,mum,NaN,9,mum,NaN,9
49,149,nandan,70,65,noida,4,8,noida,4,8
50,150,chinmay,65,42,pune,4,9,pune,4,9
51,151,naresh,100,79,blr,2,7,blr,2,7
52,152,vidya,65,58,blr,4,NaN,blr,4,NaN

In [26]:
stud.fillna(0, inplace = True)
stud

,regnum,name,attendance,theorymarks,city_x,studyhours_x,cgpa_x,city_y,studyhours_y,cgpa_y
0,100,ravi,80,85,blr,3.0,4,blr,3,4
1,101,manu,50,60,chn,3.0,9,chn,3,9
2,102,raja,32,50,hyd,8.0,7,hyd,8,7
3,103,manu,85,80,mum,3.0,6,mum,3,6
4,104,arun,86,70,del,1.0,7,del,1,7
5,105,mahesh,53,48,noida,4.0,8,noida,4,8
6,106,rajesh,19,69,pune,7.0,4,pune,7,4
7,107,mahesh,14,68,blr,4.0,8,blr,4,8
8,108,rakesh,18,78,noida,3.0,6,noida,3,6
9,109,manju,88,57,jaipur,4.0,8,jaipur,4,8
10,110,raju,80,80,blr,4.0,5,blr,4,5
11,111,guru,93,80,del,7.0,9,del,7,9
12,112,pavan,40,80,pune,1.0,7,pune,1,7
13,113,girish,84,83,blr,6.0,7,blr,6,7
14,114,sunil,48,83,pune,6.0,9,pune,6,9
15,115,yogesh,11,51,del,7.0,4,del,7,4
16,116,naman,88,62,mum,6.0,5,mum,6,5
17,117,brijesh,25,54,noida,5.0,0,noida,5,0
18,118,umesh,92,70,pune,3.0,4,pune,3,4
19,119,sameera,46,41,blr,1.0,5,blr,1,5
20,120,ravindra,75,40,chn,7.0,6,chn,7,6
21,121,vinit,25,50,hyd,4.0,9,hyd,4,9
22,122,kamal,58,41,mum,1.0,8,mum,1,8
23,123,bunty,74,50,del,3.0,6,del,3,6
24,124,naveen,77,75,noida,6.0,7,noida,6,7
25,125,vikas,16,44,pune,6.0,7,pune,6,7
26,126,suman,29,71,blr,3.0,4,blr,3,4
27,127,rajan,89,82,noida,8.0,6,noida,8,6
28,128,ajith,58,72,jaipur,3.0,7,jaipur,3,7
29,129,amith,17,82,blr,2.0,4,blr,2,4
30,130,akash,58,75,del,1500.0,8,del,1500,8
31,131,anuj,99,64,pune,4.0,8,pune,4,8
32,132,karthik,96,83,blr,6.0,6,blr,6,6
33,133,praful,75,57,pune,8.0,4,pune,8,4
34,134,chandru,76,51,del,1.0,800,del,1,800
35,135,pradeep,74,84,mum,7.0,5,mum,7,5
36,136,mukesh,56,65,noida,2.0,5,noida,2,5
37,137,ganesh,50,76,pune,8.0,9,pune,8,9
38,138,gurudut,99,53,pune,2.0,5,pune,2,5
39,139,kushal,41,59,blr,5.0,6,blr,5,6
40,140,madhu,100,48,noida,0.0,9,noida,0,9
41,141,narayan,36,80,jaipur,5.0,8,jaipur,5,8
42,142,bhanu,55,84,blr,1.0,9,blr,1,9
43,143,kiran,18,58,del,1.0,4,del,1,4
44,144,mohan,52,65,pune,7.0,6,pune,7,6
45,145,nagesh,41,41,blr,3.0,9,blr,3,9
46,146,chaitra,88,48,pune,2.0,8,pune,2,8
47,147,sreedhar,30,54,del,5.0,9,del,5,9
48,148,jagan,99,81,mum,0.0,9,mum,0,9
49,149,nandan,70,65,noida,4.0,8,noida,4,8
50,150,chinmay,65,42,pune,4.0,9,pune,4,9
51,151,naresh,100,79,blr,2.0,7,blr,2,7
52,152,vidya,65,58,blr,4.0,0,blr,4,0

In [53]:
stud["studyhours_x"] = stud["studyhours_x"].astype(np.int64)
stud["studyhours_y"] = stud["studyhours_y"].astype(np.int64)
stud["cgpa_x"] = stud["cgpa_x"].astype(np.int64)
stud["cgpa_y"] = stud["cgpa_y"].astype(np.int64)
stud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   regnum        53 non-null     int64
 1   name          53 non-null     object
 2   attendance    53 non-null     int64
 3   theorymarks   53 non-null     int64
 4   city_x        53 non-null     object
 5   studyhours_x  53 non-null     int64
 6   cgpa_x        53 non-null     int64
 7   city_y        53 non-null     object
 8   studyhours_y  53 non-null     int64
 9   cgpa_y        53 non-null     int64
dtypes: int64(7), object(3)
memory usage: 4.3+ KB

In [54]:
median_value = stud["studyhours_x"].median()
stud["studyhours_x"] = stud["studyhours_x"].replace(0, median_value)
median_value = stud["cgpa_x"].median()
stud["cgpa_x"] = stud["cgpa_x"].replace(0, median_value)
median_value = stud["cgpa_y"].median()
stud["cgpa_y"] = stud["cgpa_y"].replace(0, median_value)
stud

,regnum,name,attendance,theorymarks,city_x,studyhours_x,cgpa_x,city_y,studyhours_y,cgpa_y
0,100,ravi,80,85,blr,3,4,blr,3,4
1,101,manu,50,60,chn,3,9,chn,3,9
2,102,raja,32,50,hyd,8,7,hyd,8,7
3,103,manu,85,80,mum,3,6,mum,3,6
4,104,arun,86,70,del,1,7,del,1,7
5,105,mahesh,53,48,noida,4,8,noida,4,8
6,106,rajesh,19,69,pune,7,4,pune,7,4
7,107,mahesh,14,68,blr,4,8,blr,4,8
8,108,rakesh,18,78,noida,3,6,noida,3,6
9,109,manju,88,57,jaipur,4,8,jaipur,4,8
10,110,raju,80,80,blr,4,5,blr,4,5
11,111,guru,93,80,del,7,9,del,7,9
12,112,pavan,40,80,pune,1,7,pune,1,7
13,113,girish,84,83,blr,6,7,blr,6,7
14,114,sunil,48,83,pune,6,9,pune,6,9
15,115,yogesh,11,51,del,7,4,del,7,4
16,116,naman,88,62,mum,6,5,mum,6,5
17,117,brijesh,25,54,noida,5,7,noida,5,7
18,118,umesh,92,70,pune,3,4,pune,3,4
19,119,sameera,46,41,blr,1,5,blr,1,5
20,120,ravindra,75,40,chn,7,6,chn,7,6
21,121,vinit,25,50,hyd,4,9,hyd,4,9
22,122,kamal,58,41,mum,1,8,mum,1,8
23,123,bunty,74,50,del,3,6,del,3,6
24,124,naveen,77,75,noida,6,7,noida,6,7
25,125,vikas,16,44,pune,6,7,pune,6,7
26,126,suman,29,71,blr,3,4,blr,3,4
27,127,rajan,89,82,noida,8,6,noida,8,6
28,128,ajith,58,72,jaipur,3,7,jaipur,3,7
29,129,amith,17,82,blr,2,4,blr,2,4
30,130,akash,58,75,del,1500,8,del,1500,8
31,131,anuj,99,64,pune,4,8,pune,4,8
32,132,karthik,96,83,blr,6,6,blr,6,6
33,133,praful,75,57,pune,8,4,pune,8,4
34,134,chandru,76,51,del,1,800,del,1,800
35,135,pradeep,74,84,mum,7,5,mum,7,5
36,136,mukesh,56,65,noida,2,5,noida,2,5
37,137,ganesh,50,76,pune,8,9,pune,8,9
38,138,gurudut,99,53,pune,2,5,pune,2,5
39,139,kushal,41,59,blr,5,6,blr,5,6
40,140,madhu,100,48,noida,4,9,noida,4,9
41,141,narayan,36,80,jaipur,5,8,jaipur,5,8
42,142,bhanu,55,84,blr,1,9,blr,1,9
43,143,kiran,18,58,del,1,4,del,1,4
44,144,mohan,52,65,pune,7,6,pune,7,6
45,145,nagesh,41,41,blr,3,9,blr,3,9
46,146,chaitra,88,48,pune,2,8,pune,2,8
47,147,sreedhar,30,54,del,5,9,del,5,9
48,148,jagan,99,81,mum,4,9,mum,4,9
49,149,nandan,70,65,noida,4,8,noida,4,8
50,150,chinmay,65,42,pune,4,9,pune,4,9
51,151,naresh,100,79,blr,2,7,blr,2,7
52,152,vidya,65,58,blr,4,7,blr,4,7

In [58]:
stud.describe()

,regnum,attendance,theorymarks,studyhours_x,cgpa_x,studyhours_y,cgpa_y
count,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,126.000000,60.245283,64.641509,32.415094,21.716981,32.415094,21.716981
std,15.443445,27.591042,14.432994,205.476036,108.974834,205.476036,108.974834
min,100.000000,11.000000,40.000000,1.000000,4.000000,1.000000,4.000000
25%,113.000000,40.000000,51.000000,3.000000,5.000000,3.000000,5.000000
50%,126.000000,58.000000,65.000000,4.000000,7.000000,4.000000,7.000000
75%,139.000000,85.000000,80.000000,6.000000,8.000000,6.000000,8.000000
max,152.000000,100.000000,85.000000,1500.000000,800.000000,1500.000000,800.000000

In [92]:
num = ['studyhours_x']

num.sort()
q1, q3= np.percentile(numlst,[25,75])

UFuncTypeError: ufunc 'subtract' did not contain a loop with signature matching types (dtype('<U12'), dtype('<U12')) -> None